1. Write a Python program which accepts the radius of a circle from the user and compute the area.
**Sample input:** Enter the radius: 3
**Sample output:** Area of Circle is 28.59999999999

In [6]:
def circle_area (radius):
    pi = 3.14159
    area = pi * radius ** 2
    return area
n1=int(input('Enter the radius '))
a = circle_area(n1)
print("Area of the circle is:", a)

Enter the radius 3
Area of the circle is: 28.27431

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha,
Enter the roll number: 21,
Enter the mark: 78,
Sample output: Name: Anisha,
Roll No: 21,
Mark: 78

In [7]:
name=input('Enter the name: ')
roll_no=int(input('Enter the roll number: '))
mark=int(input('Enter the mark: '))
print(f"Name:{name}\nRoll No: {roll_no}\nMark: {mark}")

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name:Anisha
Roll No: 21
Mark: 78

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10,
Sample output: 47 is the largest number.

In [8]:
def largest(num):
     largest = num[0]
     for n in num:
        if n > largest:
            largest = n
     return largest
s=int(input('What is the size of list '))
d=[]
su=0
for i in range(s):
  num=int(input('Number= '))
  d.append(num)
print(d)
l=largest(d)
print(f'{l} is the largest number')

What is the size of list 4
Number= 12
Number= 3
Number= 47
Number= 10
[12, 3, 47, 10]
47 is the largest number

4. Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number and previous number.
Sample input: 1….10,
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [9]:
def sum(f,l):
    num1 = f -1
    for num2 in range(f, l +1):
        sum = num2 + num1
        print(f"Current Number {num2} Previous Number {num1} Sum: {sum}")
        num1 = num2
first=int(input('First number= '))
end=int(input('Last number= '))
sum(first,end)

First number= 5
Last number= 11
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19
Current Number 11 Previous Number 10 Sum: 21


5. Write a Python program to print only those numbers which are divisible of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [10]:
def div(s,e):
 for i in range(s,e+1):
  if(i%5==0):
    print(i,end=" ")
s=int(input('What is the starting range '))
e=int(input('What is the ending range '))
div(s,e)

What is the starting range 10
What is the ending range 55
10 15 20 25 30 35 40 45 50 55

6. Write a Python program to check whether a number is prime or not. Sample input: Enter the number: 3,
Sample output: 3 is a prime number.

In [11]:
prime=int(input('Enter a number '))
def prm(p):
 for i in range(2,p):
   if(p%i==0):
    return print(f'{p} is not a prime')
    break
 else:
  return print(f'{p} is a prime')
prm(prime)

Enter a number 3
3 is a prime

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70...
Sample output: 70,30,40,10

In [12]:
def reverse(list1):
    rlist = []
    l=len(list1)
    for i in range(l-1,-1, -1):
        rlist.append(list1[i])
    return rlist
s=int(input('What is the size of list '))
list1=[]
su=0
for i in range(s):
  num=int(input('Number= '))
  list1.append(num)
list2 = reverse(list1)
print("Original List:", list1)
print("Reversed List:", list2)

What is the size of list 4
Number= 10
Number= 40
Number= 30
Number= 70
Original List: [10, 40, 30, 70]
Reversed List: [70, 30, 40, 10]

8. Write a Python program to print the following pattern.
*,
**,
***,
****

In [13]:
def pattern(row):
    for i in range(1, row + 1):
        for j in range(1, i + 1):
            print('*', end='')
        print('\n')
pattern(4)

*

**

***

****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7....
Sample output: 34

In [14]:
def maximum(num1, num2, num3):
    result = max(num1, num2, num3)
    return result
n1=int(input('Enter a number '))
n2=int(input('Enter a number '))
n3=int(input('Enter a number '))
m = maximum(n1, n2, n3)
print("Maximum number is:", m)

Enter a number 34
Enter a number 12
Enter a number 7
Maximum number is: 34

10. Write a Python program to construct the following pattern, using a nested for loop.
*
**
***
****
*****
****
***
**
*

In [15]:
def pattern(row):
    for i in range(1, row + 1):
        for j in range(1, i + 1):
            print('*', end='')
        print('\n')
    for i in range(row - 1, 0, -1):
        for j in range(1, i + 1):
            print('*', end='')
        print('\n')
pattern(5)

*

**

***

****

*****

****

***

**

*